---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: kube-prometheus-stack
  namespace: monitoring
spec:
  interval: 10m
  chart:
    spec:
      chart: kube-prometheus-stack
      # renovate: datasource=helm registryUrl=https://prometheus-community.github.io/helm-charts chart=kube-prometheus-stack
      version: 80.14.4
      sourceRef:
        kind: HelmRepository
        name: prometheus-community
        namespace: flux-system
  values:
    alertmanager:
      ingress:
        enabled: true
        annotations:
          external-dns.home.arpa/enabled: "true"
          cert-manager.home.arpa/enabled: "true"
        hosts:
          - &host-alert-manager alert-manager.${DOMAIN}
        paths:
          - /
        pathType: Prefix
        tls:
          - hosts:
              - *host-alert-manager
            secretName: alert-manager-tls
      alertManagerSpec:
        storage:
          volumeClaimTemplate:
            spec:
              resources:
                requests:
                  storage: 10Gi
    grafana:
      enabled: false
      forceDeployDashboards: true
    kubelet:
      serviceMonitor:
        metricRelabelings:
          - action: replace
            sourceLabels:
              - node
            targetLabel: instance
    kubeControllerManager:
      enabled: false
    kubeEtcd:
      enabled: false
    kubeScheduler:
      enabled: false
    kubeProxy:
      enabled: false
    kube-state-metrics:
      metricLabelsAllowlist:
        - "persistentvolumeclaims=[*]"
      prometheus:
        monitor:
          relabelings:
            - action: replace
              regex: (.*)
              replacement: $1
              sourceLabels:
                - __meta_kubernetes_pod_node_name
              targetLabel: kubernetes_node
    prometheus:
      ingress:
        enabled: true
        hosts:
          - prometheus.${DOMAIN}
        paths:
          - /
        pathType: Prefix
        ingressClassName: "nginx"
      thanosService:
        enabled: true
      thanosServiceMonitor:
        enabled: true
      thanosIngress:
        enabled: true
        pathType: Prefix
        ingressClassName: "nginx"
        annotations:
          nginx.ingress.kubernetes.io/ssl-redirect: "true"
          nginx.ingress.kubernetes.io/backend-protocol: "GRPC"
        hosts:
          - &host-thanos-sidecar "thanos-sidecar.${DOMAIN}"
        tls:
          - hosts:
              - *host-thanos-sidecar
      prometheusSpec:
        enableAdminAPI: true
        replicaExternalLabelName: __replica__
        ruleSelectorNilUsesHelmValues: false
        serviceMonitorSelectorNilUsesHelmValues: false
        podMonitorSelectorNilUsesHelmValues: false
        probeSelectorNilUsesHelmValues: false
        retention: 2d
        retentionSize: "5GB"
        walCompression: true
        storageSpec:
          volumeClaimTemplate:
            spec:
              resources:
                requests:
                  storage: 20Gi
        thanos:
          image: quay.io/thanos/thanos:v0.40.1@sha256:aae7b2b030ed00d88abd8c5a357d08b46f22151ca0d50d9c796223fa332389c8
          # renovate: datasource=docker image=quay.io/thanos/thanos
          version: "v0.40.1"
        #additionalScrapeConfigs:
        #- job_name: node-exporter
        #  static_configs:
        #    - targets:
        #        - singularity.milkyway:9100
        #- job_name: minio
        #  metrics_path: /minio/v2/metrics/cluster
        #  static_configs:
        #    - targets:
        #        - singularity.milkyway:9000
        #- job_name: octoprint
        #  scrape_interval: 5s
        #  metrics_path: /plugin/prometheus_exporter/metrics
        #  params:
        #    apikey: [8DF4068556C84F8FBBE4224DB8EEA1B7]
        #  static_configs:
        #    - targets:
        #        - curiosity.milkyway:80
