---
apiVersion: v2
# renovate: datasource=docker depName=jacobalberty/unifi
appVersion: v10.0.162
description: Ubiquiti Network's Unifi Controller
name: unifi
version: 1.1.0  
keywords:
  - ubiquiti
  - unifi
home: https://github.com/andrewmccall/home-ops/tree/master/charts/stable/unifi
icon: https://prd-www-cdn.ubnt.com/static/favicon-152.png
sources:
  - https://github.com/jacobalberty/unifi-docker
maintainers:
  - name: Andrew McCall
    email: andrew@andrewmccall.com
dependencies:
  - name: common
    repository: https://home-ops.andrewmccall.com/charts/library/
    version: 1.0.3
  - name: mongodb
    version: 15.6.26
    repository: https://charts.bitnami.com/bitnami
    condition: mongodb.enabled
